body {
  margin: 0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

main {
  width: 100vw;
  height: 100vh;

  max-width: 1000px;
  margin: 0 auto;

  color: white;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px 0;
  font-family: "Tiny5", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
}

.jumbotron {
  width: 100%;
  display: flex;
}

.date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.calender {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cal_day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #dbdbdb;
}

.todolist {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  gap: 50px;
}

.todolist_title {
  font-size: 32px;
  font-weight: 600;
  width: 100%;
}

.todolist_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.list > button {
  background-color: transparent;
  border-radius: 25%;
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  font-weight: 600;
}

.btn_box {
  display: flex;
  justify-content: center;
}

.btn {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
  color: #dbdbdb;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgb(249, 250, 251);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus-visible {
  box-shadow: none;
}
